@charset "UTF-8";
/* CSS Document */

#wrapper {
	width: 960px;
	height: 800px;
	margin: 0 auto;
	background-color: #284E9F;
}

header {
	height: 100px;
	width: 100%;
	background-color:#D3D3D3;
	font-family: 'Delius Unicase', cursive;
	font-size: 30px;
	text-align: center;
}

nav {
	width: 100%;
	height: 50px;
	background-color:#231F20;
}

li {
	display: inline;
	float:left;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#231F20 ;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
	background-color:#FBB019;
}

footer {
	height: 50px;
	width: 100%;
	background-color: #D3D3D3;
	clear: both;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: right;
	padding: 1px;
}

iframe {
	height: 600px;
	width: 100%;
	border:2px solid red;
}

#main_content {width: 100%;}

#mainleft {
	height: 500px;
	width: 930px;
	background-color: black;
	margin: 15px;
}

img {
	height: 250px;
	margin: 70px;
	padding-left: 200px;
}

footer {
	padding-top: 12px
}

